<h2><%= t('.checkout_title') %></h2>
<div>
  <%= link_to t('.address_link'), checkouts_edit_address_path %>
</div>
<div style="float:left; width: 200px;">
  <h3><%= t('.delivery_title') %></h3>
  <%= form_for @order, url: checkouts_set_delivery_path, method: :patch do |f| %>
    <% @deliveries.each do |delivery| %>
    <div>
      <%= f.radio_button :delivery_id, delivery.id, :checked => (delivery == @order.delivery || delivery == @deliveries.first) %>
      <%= f.label :delivery_id, "#{delivery.title} #{number_to_currency(delivery.price)}" %>
    </div>
    <% end %>
    <%= f.submit t('.save') %>
  <% end %>
</div>
<div style="float:left; width: 200px;">
  <h3><%= t('.summary_title') %></h3>
  <h5><%= t('.items_price_info') %><%= number_to_currency(@order.items_price) %></h5>
  <h5><%= t('.shipping_price_info') %><%= number_to_currency(@delivery.price) %></h5>
  <% if @order.discount %>
    <h5><%= t('.discount_info') %><%= number_to_currency(@order.discount.amount) %></h5>
  <% end %>
  <h5><%= t('.order_total_info') %><%= number_to_currency(@order.total_price) %></h5>
</div>
