<h2><%= t('.checkout_title') %></h2>
<div>
  <%= link_to t('.address_link'), checkouts_edit_address_path %>
  <%= link_to t('.delivery_link'), checkouts_choose_delivery_path %>
</div>
<div style="float:left; width: 200px;">
  <h3><%= t('.credit_card_title') %></h3>
  <%= simple_form_for @credit_card, url: checkouts_update_credit_card_path, method: :patch, html: { autocomplete: 'off' } do |f| %>
    <%= f.input :number, label: false, placeholder: 'Card Number', input_html: { minlength: 16, maxlength: 16} %>
    <%= f.label t('.exp_date_title') %>
    <div>
      <%= select_month(Date.today, use_month_numbers: true, prefix: 'credit_card', field_name: 'expiration_month') %>
      <%= select_year(Date.today, start_year: 2016, end_year: 2100, prefix: 'credit_card', field_name: 'expiration_year') %>
    </div>
    <div style="margin: 5px 0;">
      <%= f.input :cvv, label: false, placeholder: 'Card Code', input_html: {minlength: 3, maxlength: 3} %>
      <%= link_to t('.cvv_name_link'), "https://goo.gl/Pwevos", target: '_blank'%>
    </div>
    <%= f.submit t('.save') %>
  <% end %>
</div>
<div style="float:left; width: 200px;">
  <h3><%= t('.summary_title') %></h3>
  <h5><%= t('.items_price_info') %><%= number_to_currency(@order.items_price) %></h5>
  <h5><%= t('.shipping_price_info') %><%= number_to_currency(@order.delivery.price) %></h5>
  <% if @order.discount %>
    <h5><%= t('.discount_info') %><%= number_to_currency(@order.discount.amount) %></h5>
  <% end %>
  <h5><%= t('.order_total_info') %><%= number_to_currency(@order.total_price) %></h5>
</div>
