<h2>Checkout</h2>
<div>
  <%= link_to 'Address', checkouts_edit_address_path %>
  <%= link_to 'Delivery', checkouts_choose_delivery_path %>
</div>
<div style="float:left; width: 200px;">
  <h3>Credit Card</h3>
  <%= simple_form_for @credit_card, url: checkouts_update_credit_card_path, method: :patch do |f| %>
    <%= f.input :number, label: false, placeholder: 'Card Number', input_html: { minlength: 16, maxlength: 16} %>
    <%= f.label "Expiration date:" %>
    <div>
      <%= select_month(Date.today, use_month_numbers: true, prefix: 'credit_card', field_name: 'expiration_month') %>
      <%= select_year(Date.today, start_year: 2016, end_year: 2100, prefix: 'credit_card', field_name: 'expiration_year') %>
    </div>
    <div style="margin: 5px 0;">
      <%= f.input :cvv, label: false, placeholder: 'Card Code', input_html: {minlength: 3, maxlength: 3} %>
      <%= link_to "What's cvv", "https://goo.gl/Pwevos", target: '_blank'%>
    </div>
    <%= f.submit 'Save' %>
  <% end %>
</div>
<div style="float:left; width: 200px;">
  <h3>Order summary</h3>
  <h5>Item total:<%= number_to_currency(@order.items_price) %></h5>
  <h5>Shipping:<%= number_to_currency(@order.delivery.price) %></h5>
  <% if @order.discount %>
    <h5>Discount:<%= number_to_currency(@order.discount.amount) %></h5>
  <% end %>
  <h5>Order total:<%= number_to_currency(@order.total_price) %></h5>
</div>
