<h1><%= t('.cart_title') %></h1>

<table>
  <tr>
    <th><%= t('.product_name') %></th>
    <th><%= t('.product_price') %></th>
    <th><%= t('.qty') %></th>
    <th><%= t('.item_price') %></th>
  </tr>
  <% @order_items.each do |order_item| %>
    <tr id="<%= order_item.id %>" align="center" >
      <td>
        <%= order_item.product.name %>
      </td>
      <td>
        <%= number_to_currency(order_item.product.price) %>
      </td>
      <td>
        <%= simple_form_for order_item, url: order_item_path(order_item), method: :patch do |f| %>
          <%= f.number_field :quantity, value: order_item.quantity, min: 1, max: 10 %>
          <%= f.submit t('.ok') %>
        <% end %>
      </td>
      <td>
        <%= number_to_currency(order_item.price) %>
      </td>
      <td>
        <%= link_to t('.delete_item'), order_item_path(order_item), method: :delete %>
      </td>
    </tr>
  <% end %>

  <tr align="right">
    <th colspan="4"><%= t('.order_total') %><%= number_to_currency(@order.items_price) %></th>
  </tr>
  <% if @order.discount %>
    <tr align="right">
      <th colspan="4"><%= t('.discount') %><%= number_to_currency(@order.discount) %> </th>
    </tr>
  <% end %>

  <tr>
    <td>
      <%= link_to t('.empty_cart'), clear_cart_orders_path, method: :delete %>
    </td>
    <% unless @order_items.empty? %>
      <%= simple_form_for @discount, url: add_discount_order_path(@order.id), method: :patch, html: { autocomplete: "off" } do |f| %>
        <td>
          <%= f.input :code, label: false, placeholder: 'coupon code', minlength: 6, maxlength: 6, input_html: { style: "width: 80px" } %>
        </td>
        <td>
          <%= f.submit t('.update') %>
        </td>
      <% end %>
    <% end %>
    <td>
      <%= link_to t('.checkout'), checkouts_edit_address_path, method: :get %>
    </td>
  </tr>
</table>

