<h1><%= t('.orders_title') %></h1>
<h2><%= t('.in_progress_title') %></h2>
  <% if @order_in_progress %>
    <table>
      <tr>
        <th><%= t('.product_name') %></th>
        <th><%= t('.product_price') %></th>
        <th><%= t('.qty') %></th>
        <th><%= t('.item_price') %></th>
      </tr>
      <% @order_in_progress.order_items.each do |order_item| %>
        <tr id= <%= "#{order_item.id}" %> align="center" >
          <td>
            <%= order_item.product.title %>
          </td>
          <td>
            <%= number_to_currency(order_item.product.price) %>
          </td>
          <td>
            <%= order_item.quantity %>
          </td>
          <td>
            <%= number_to_currency(order_item.price) %>
          </td>
        </tr>
      <% end %>
      <tr align="right">
        <th colspan="4"><%= t('.subtotal_info') %>: <%= number_to_currency(@order_in_progress.items_price) %></th>
      </tr>
      <% if @order_in_progress.delivery %>
        <tr align="right">
          <th colspan="4"><%= t('.shipping_price_info') %>: <%= number_to_currency(@order_in_progress.delivery.price) %></th>
        </tr>
      <% end %>
      <% if @order_in_progress.discount %>
        <tr align="right">
          <th colspan="4"><%= t('.discount_info') %>: <%= number_to_currency(@order_in_progress.discount.amount) %></th>
        </tr>
      <% end %>
    </table>
  <% end %>
<h2><%= t('.in_queue_title') %></h2>
  <table>
    <tr>
      <th><%= t('.column_number') %></th>
      <th><%= t('.column_complete_date') %></th>
      <th><%= t('.column_total') %></th>
    </tr>
    <% @orders_in_queue.each do |order| %>
      <tr>
        <td>
          <%= link_to "#{t('.order_title_link')}##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to t('.link_view'), order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<h2><%= t('.in_delivery_title') %></h2>
  <table>
    <tr>
      <th><%= t('.column_number') %></th>
      <th><%= t('.column_complete_date') %></th>
      <th><%= t('.column_total') %></th>
    </tr>
    <% @orders_in_delivery.each do |order| %>
      <tr>
        <td>
          <%= link_to "#{t('.order_title_link')}##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to t('.link_view'), order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<h2><%= t('.delivered_title') %></h2>
  <table>
    <tr>
      <th><%= t('.column_number') %></th>
      <th><%= t('.column_complete_date') %></th>
      <th><%= t('.column_total') %></th>
    </tr>
    <% @orders_delivered.each do |order| %>
      <tr>
        <td>
          <%= link_to "#{t('.order_title_link')}##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to t('.link_view'), order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
