<h1>Orders</h1>
<h2>In progress</h2>
  <% if @order_in_progress %>
    <table>
      <tr>
        <th>Product name</th>
        <th>Product price</th>
        <th>Quantity</th>
        <th>Item price</th>
      </tr>
      <% @order_in_progress.order_items.each do |order_item| %>
        <tr id= <%= "#{order_item.id}" %> align="center" >
          <td>
            <%= order_item.product.title %>
          </td>
          <td>
            <%= number_to_currency(order_item.product.price) %>
          </td>
          <td>
            <%= order_item.quantity %>
          </td>
          <td>
            <%= number_to_currency(order_item.price) %>
          </td>
        </tr>
      <% end %>
      <tr align="right">
        <th colspan="4">Subtotal: <%= number_to_currency(@order_in_progress.items_price) %></th>
      </tr>
      <% if @order_in_progress.delivery %>
        <tr align="right">
          <th colspan="4">Subtotal: <%= number_to_currency(@order_in_progress.delivery.price) %></th>
        </tr>
      <% end %>
      <% if @order_in_progress.discount %>
        <tr align="right">
          <th colspan="4">Subtotal: <%= number_to_currency(@order_in_progress.discount.amount) %></th>
        </tr>
      <% end %>
    </table>
  <% end %>
<h2>Waiting for processing</h2>
  <table>
    <tr>
      <th>Number</th>
      <th>Completed at</th>
      <th>Total</th>
    </tr>
    <% @orders_in_queue.each do |order| %>
      <tr>
        <td>
          <%= link_to "Order##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to 'view', order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<h2>In delivery</h2>
  <table>
    <tr>
      <th>Number</th>
      <th>Completed at</th>
      <th>Total</th>
    </tr>
    <% @orders_in_queue.each do |order| %>
      <tr>
        <td>
          <%= link_to "Order##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to 'view', order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<h2>Delivered</h2>
  <table>
    <tr>
      <th>Number</th>
      <th>Completed at</th>
      <th>Total</th>
    </tr>
    <% @orders_in_queue.each do |order| %>
      <tr>
        <td>
          <%= link_to "Order##{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= order.completed_date %>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td>
          <%= link_to 'view', order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>
