<h1><%= t('.order_title') %> #<%= @order.id %></h1>
<%= link_to "<< #{t('.link_back_to_orders')}", orders_path %>
<table>
  <tr>
    <th><%= t('.product_name') %></th>
    <th><%= t('.product_price') %></th>
    <th><%= t('.qty') %></th>
    <th><%= t('.item_price') %></th>
  </tr>
  <% @order.order_items.each do |order_item| %>
    <tr id="<%= order_item.id %>" align="center" >
      <td>
        <%= order_item.product.name %>
      </td>
      <td>
        <%= number_to_currency(order_item.product.price) %>
      </td>
      <td>
        <%= order_item.quantity %>
      </td>
      <td>
        <%= number_to_currency(order_item.price) %>
      </td>
    </tr>
  <% end %>
  <tr align="right">
    <th colspan="4">
      <%= t('.subtotal_info') %>: <%= number_to_currency(@order.items_price) %>
    </th>
  </tr>
  <tr align="right">
    <th colspan="4">
      <%= t('.shipping_price_info') %>: <%= number_to_currency(@order.delivery.price) %>
    </th>
  </tr>
  <% if @order.discount%>
    <tr align="right">
      <th colspan="4">
        <%= t('.discount_info') %>: <%= number_to_currency(@order.discount.amount) %>
      </th>
    </tr>
  <% end %>
  <tr align="right">
    <th colspan="4">
      <%= t('.order_total_info') %>: <%= number_to_currency(@order.total_price) %>
    </th>
  </tr>
</table>
